{% extends 'base/base.html' %} {% block title %} Registro de proyecto
<link
  href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css"
  rel="stylesheet"
/>
{% endblock %} 

{% block content %}
    <div class="px-2">
        <form action="{{ url_for('register-word') }}" method="POST" id="formRegister" class="row" onsubmit="submitForm(event)">
            <div class="border rounded m-2 px-2 pt-2 pb-3 row">
                <div id="divOriginalWord" class="col d-none">
                    <label for="originalWord">Select original word:</label>
                    <input list="originalWord" id="originalWordInput" name="originalWord" class="form-control" required />
                    <datalist id="originalWord" data-api-endpoint="{{ url_for('list-words') }}" >
                    <!-- Agrega más opciones según sea necesario -->
                    </datalist>
                </div>
                <div class="col">
                    <label for="wordVariation">Write word:</label>
                    <input list="wordVariation" id="wordVariationInput" name="wordVariation" class="form-control" required />
                    <datalist id="wordVariation" data-api-endpoint="{{ url_for('list-words-classification') }}" >
                    <!-- Agrega más opciones según sea necesario -->
                    </datalist>
                </div>
                <div class="col">
                    <label for="wordTypesSelect">Select word types:</label>
                    <select id="wordTypesSelect" name="wordTypesSelect" class="form-control" data-api-endpoint="{{ url_for('list-words-types') }}" required >
                    <option value="" selected disabled>Select a word type</option>
                    </select>
                </div>
                <div id="divVerbalTense" class="col">
                    <label for="verbalTense">Select verbal tense:</label>
                    <select id="verbalTense" name="verbalTense" class="form-control" data-api-endpoint="{{ url_for('list-verbal-tenses') }}" >
                    <option value="" selected disabled>Select a verbal tense</option>
                    </select>
                </div>
               
            </div>

            <div id="divTranslates" class="border rounded m-2 px-2 pt-2 pb-3 row d-none">
                <label for="translates">Write the translates (separate with commas):</label>
                <input id="translatesInput" name="translates" class="form-control" required />
            </div>

            <div id="divExamplesContainer" class="m-2 border rounded px-2 pt-2 pb-3 row d-none" >
                <div class="example-set row my-1">
                    <textarea name="example" placeholder="Write an example" class="form-control col mx-1" style="resize: none;" rows="3"></textarea>
                    <textarea name="example_translate" placeholder="Write the translate's example" class="form-control col mx-1" style="resize: none;" rows="3"></textarea>
                </div>
            </div>
            <button type="button" onclick="addExample()">Add More</button>

            <div class="m-2 px-2 pt-2 pb-3 row">
                <input type="submit" value="Register"/>
            </div>
        </form>
    </div>
{% endblock %} 

{% block javascript %} 
{{ super() }}

    <script>
        function addExample() {
            var container = document.getElementById("divExamplesContainer");
            var newExample = document.querySelector(".example-set").cloneNode(true);

            // Encuentra todos los elementos textarea dentro del div clonado y limpia su valor
            var textareas = newExample.querySelectorAll("textarea");
            textareas.forEach(function(textarea) {
                textarea.value = "";
                textarea.required = false; // Asegúrate de que los textareas clonados no sean requeridos
            });

            container.appendChild(newExample);

            assignInputEvents();
        }

        function assignInputEvents() {
            document.querySelectorAll('.example-set').forEach(set => {
                set.querySelectorAll('textarea').forEach(textarea => {
                    textarea.addEventListener('input', () => {
                        const textareas = set.querySelectorAll('textarea');
                        const isAnyFilled = Array.from(textareas).some(ta => ta.value.trim() !== '');
                        textareas.forEach(ta => ta.required = isAnyFilled);
                    });
                });
            });
        }

        function submitForm(event) {
            event.preventDefault();
            var form = document.getElementById("formRegister");
            var formData = new FormData(form);

            var exampleSets = document.querySelectorAll(".example-set");
            var examplesData = [];

            exampleSets.forEach(function(set) {
                var example = set.querySelector("textarea[name='example']").value;
                var translate = set.querySelector("textarea[name='example_translate']").value;
                examplesData.push({ example: example, translate: translate });
            });

            formData.append('examplesJson', JSON.stringify(examplesData));
            
            fetch('{{ url_for("register-word") }}', {
                method: 'POST',
                body: formData
            }).then(response => {
                if (response.ok && response.redirected) {
                    console.log('OK')
                    //window.location.href = '{{ url_for("register-word") }}';
                } else {
                    // Manejar otros estados de respuesta o errores
                    console.error('Error en la solicitud:', response.statusText);
                }
            }).catch(error => {
                console.error('Error al enviar el formulario:', error);
            });
        }
    </script>

    <script type="module">
        import {
            showElement,
            hideElement,
            formatAndSetTitle,
            executeFunctions,
            getSelectedText,
            capitalizeFirstLetter
        } from "{{ url_for('static', path='/js/custom/utilities/utilities.js') }}";
        import {
            getOptionElements,
            showHideSelectElementByValue,
        } from "{{ url_for('static', path='/js/custom/select-apis/selectGetValueApis.js') }}";

        let selectWordTypesSelect = document.getElementById("wordTypesSelect");
        let selectVerbalTense = document.getElementById("verbalTense");

        let divOriginalWorld = document.getElementById("divOriginalWord");
        let inputWordVariation = document.getElementById("wordVariationInput");
        let inputOriginalWordInput = document.getElementById("originalWordInput");
        let inputTranslates = document.getElementById("translatesInput");

        let verbValue = "{{verb_select}}";

        assignInputEvents()
        /**
        * Adds a 'keyup' event listener to the 'inputTranslates' input field.
        * This event handles the formatting of the input text and controls keystrokes.
        */
        inputTranslates.addEventListener("keyup", function (event) {
            const input = event.target; // Retrieves the input field that triggered the event
            let value = input.value;    // Retrieves the current value of the input field

            // Capitalizes the first letter of each word and removes unnecessary spaces
            value = value.split(',')                   // Splits the text into words separated by commas
                        .map(word => word.trim())      // Removes spaces at the beginning and end of each word
                        .map(capitalizeFirstLetter)    // Capitalizes the first letter of each word
                        .join(', ');                   // Joins the words back together, separated by commas

            // If the space key is pressed
            if (event.keyCode === 32) { 
                // Adds a comma and a space if the last character is not a comma or a comma followed by a space

                if (!value.endsWith(", ") && !value.endsWith(",")) {
                    input.value = value + ', ';
                }
                event.preventDefault(); // Prevents the default insertion of the space
            }  else {
            
                // Restricts input to only letters and commas
                const regExp = /[^a-zA-Z,]/g; 
                if (regExp.test(value)) {
                    input.value = value.replace(regExp, ' '); // Removes any character that is not a letter or comma
                }
            }
        });

        // Event listener for the change event on the wordTypesSelect element
        selectWordTypesSelect.addEventListener("change", function () {
            // Show or hide another element based on the selected value
            showHideSelectElementByValue({
                value: verbValue,
                idSelectElement: "wordTypesSelect",
                idElementHtml: "divVerbalTense",
                showFunctions: [
                    () => {
                        selectVerbalTense.required = true;
                    },
                ],
                hideFunctions: [
                    () => {
                        selectVerbalTense.selectedIndex = 0;
                        selectVerbalTense.required = false;
                    },
                ],
            });
        });

        /**
        * Event listener para el evento de entrada en el elemento inputWordVariation.
        * Muestra u oculta el divOriginalWord según el valor del input y formatea el título.
        */
        inputWordVariation.addEventListener("input", function () {
            // Obtener el valor del inputWordVariation
            let inputValue = inputWordVariation.value;

            // Formatear el título y establecerlo para el elemento 'wordVariationInput'
            formatAndSetTitle(inputWordVariation);

            // Verificar si el inputWordVariation está vacío
            if (inputValue !== "") {
            // Si no está vacío, mostrar el divOriginalWord
            showElement({
                idElementHtml: "divOriginalWord",
            });
            showElement({
                idElementHtml: "divTranslates",
            });
            showElement({
                idElementHtml: "divExamplesContainer",
            });
            } else {
            // Si está vacío, ocultar el divOriginalWord
            hideElement({
                idElementHtml: "divOriginalWord",
                functions: [
                    () => {
                        inputOriginalWordInput.value = "";
                    },
                ],
            });
            hideElement({
                idElementHtml: "divTranslates",
                functions: [
                    () => {
                        inputTranslates.value = "";
                    },
                ],
            });
            hideElement({
                idElementHtml: "divExamplesContainer",
                functions: [
                    () => {
                       ;
                    },
                ],
            });
            }
        });

        /**
        * Event listener para el evento de entrada en el elemento inputWordVariation.
        * Formatea el título del elemento 'originalWordInput'.
        */
        inputOriginalWordInput.addEventListener("input", function () {
            // Formatear el título y establecerlo para el elemento 'originalWordInput'
            formatAndSetTitle(inputOriginalWordInput);
        });

        // Get options from the API and add them to specific select elements
        getOptionElements("wordTypesSelect", "wordTypesSelect", "data-api-endpoint");
        getOptionElements("verbalTense", "verbalTense", "data-api-endpoint");
        getOptionElements("originalWord", "originalWord", "data-api-endpoint");
        getOptionElements("wordVariation", "wordVariation", "data-api-endpoint");

        // Show or hide an element based on the selected value in a select element
        showHideSelectElementByValue({
            value: verbValue,
            idSelectElement: "wordTypesSelect",
            idElementHtml: "divVerbalTense",
        });
    </script>

{% endblock %}
